/* 公共部分设置 */

body,div,ul,ol,li,p{ margin:0; padding:0; }
a {  text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }

* {
  margin: 0;
  padding: 0;
 
}

.content {
  min-height: calc(100% - 0.9rem);
}

body {
  /* background-color: #f3f3f3; */
}

a,
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

.wrap {
  max-width: 6.4rem;
  margin: 0 auto;
}

.scrolledDown {
  background-color: #497fbb;
}

.page-title {
  display: flex;
  display: -webkit-flex;
  position: relative;
  height: .78rem;
  justify-content: space-between;
  align-items: center;
  width: 5.8rem;
  padding: 0 .3rem;
  background-color: #fff;
}

.common-title-box {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: .86rem;
  width: 5.8rem;
  padding: 0 .3rem;
  background-color: #fff;
}

.common-title-box a:hover,
.common-title-box a:active {
  color: #888;
}

.common-title-box span {
  font-size: .36rem;
  font-weight: bold;
  color: #0261b1;
}