* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}


.wrapper {
	width: 100%;
	min-width: 1200px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.nav-wrapper {
	width: 20%;
	max-width: 500px;
	min-height: 960px;
	height: 100%;
	background: #3874e3;
}

.nav-wrapper ul {
	padding-top: 42px;

}

.nav-wrapper ul li {
	width: 100%;
	height: 53px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
}

.nav-wrapper ul li a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-wrapper ul li img {
	margin-right: 10px;
}

.active {
	background: #265fc8;
}

.container {
	width: 100%;
	/* height: 960px; */
	margin: auto;
	background: #f4f6fa;
}

.navContainer {
	width: 100%;
	height: 70px;
	background: #fff;
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
