/* 公共部分设置 */

body,div,ul,ol,li,p{ margin:0; padding:0; }
a {  text-decoration:none;
/* 去除a标签的阴影 */
-webkit-tap-highlight-color: transparent; 
}
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }

* {
  margin: 0;
  padding: 0;
 
}

.content {
  min-height: calc(100% - 0.9rem);
}

body {
  background-color: #f3f3f3;
}
input {
	border: none;
	outline: none;
	background: none;
}
a,
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

.wrap {
  max-width: 7.5rem;
  margin: 0 auto;
}

.scrolledDown {
  background-color: #497fbb;
}

.page-title {
  display: flex;
  display: -webkit-flex;
  position: relative;
  height: .78rem;
  justify-content: space-between;
  align-items: center;
  width: 5.8rem;
  padding: 0 .3rem;
  background-color: #fff;
}

.common-title-box {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: .86rem;
  width: 5.8rem;
  padding: 0 .3rem;
  background-color: #fff;
}

.common-title-box a:hover,
.common-title-box a:active {
  color: #888;
}

.common-title-box span {
  font-size: .36rem;
  font-weight: bold;
  color: #0261b1;
}
/* 头 */
.head_help {
	color: #333333;
	font-size: 0.36rem;
	text-align: center;
	width: 7.5rem;
	margin: 0 auto;
	line-height: 0.8rem;
	height: 0.8rem;
	background: rgba(242, 242, 242, 1);
	position: relative;
}

.head_back {
	font-size: 0.36rem !important;
	color: #888888;
	position: absolute;
	left: 0.5rem;
	top: 50%;
	width: .15rem;
	height: .28rem;
	margin-top: -0.15rem;
	cursor: pointer;
	background: url(../img/icon_back_w.png)no-repeat;
	background-size: 100% 100%;
}
.head_fanhui {
	width: 100%;
	max-width: 7.5rem;
	margin: auto;
}
.heap_retreat{
	position: fixed;
	z-index: 100;
	top: 0.4rem;
	width: 0.96rem;
	height: 0.5rem;
	border-radius: 0.25rem;
	background-color: rgba(255,255,255,0.8);
	margin-left: 0.3rem;
}
.heap_retreat img{
	width: 0.16rem;
	height: 0.30rem;
	position: fixed;
	z-index: 101;
	top: 0.5rem;
	margin-left:0.37rem ;
}
/* 客服弹框 */
.customer {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

.customer_mask_center {
	width: 6rem;
	height: 6rem;
	background: url(../img/kefu_beijing.png) no-repeat center;
	background-size: 100% 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.customer_top {
	width: 5.44rem;
	height: 1.84rem;
	background: url(../img/kefu_tele_btn.png) no-repeat center;
	background-size: 100% 100%;
	margin-top: 1.9rem;
	margin-left: 0.3rem;
	font-size: 0.3rem;
}

.customer_top p {
	padding-top: 0.42rem;
	padding-left: 0.27rem;
}

.customer_top p:last-child {
	padding-top: 0.2rem;
	font-size: 0.38rem;
	font-weight: bold;
}

.customer_bottom {
	margin-top: 0.16rem;
	width: 5.44rem;
	height: 1.03rem;
	margin-left: 0.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customer_qq {
	width: 2.64rem;
	height: 1.03rem;
	background: url(../img/kefu_qq_btn.png) no-repeat;
	background-size: 100% 100%;
	font-size: 0.3rem;
	font-weight: 500;
	color: rgba(20, 84, 139, 1);
	position: relative;
}

.customer_qq span {
	position: absolute;
	top: 0.24rem;
	left: 1.05rem;
}

.customer_a {
	width: 6rem;
	margin-top: 0.3rem;
	font-size: 0.3rem;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.6);
	line-height: 0.6rem;
	text-align: center;
}

.close-customer {
	width: 2rem;
	height: 1rem;
	margin: .3rem auto;
	text-align: center;
	font-size: 0.48rem;
}
.close-customer img {
	width: 0..6rem;
	height: 0.6rem;
}